__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
venv/
env/
ENV/
.venv/
.tmp/
.env
*.log
*.sqlite3
*.db
*.pid
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
pytest_cache/
.tox/
.pytest_cache/
.junit.xml
.vscode/
.idea/
*.swp
*.bak
docker-compose.override.yml
.ipynb_checkpoints
.DS_Store
Thumbs.db
*.tmp
*.orig
*.old
*.rej
*.swo
*.swn
