@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --color-fondo: #f5f5f5;
  --color-fondo-comp: #ffffff;
  --color-input-bg: #f0f0f0;
  --color-orange: #f97316;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Opcional: solo si estás usando variables directamente */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
